<div class="container">

  <h2>WebSocket Chat Demo</h2>

  <div class="card">
    <p><strong>Status:</strong> {{ wsService.status() }}</p>

    UserID: <input type="text" placeholder="Enter user id" [(ngModel)]="userid" />
    <button (click)="connect()">Connect</button>
    <button (click)="disconnect()">Disconnect</button>
  </div>

  <div class="card">
    <h3>Send Message</h3>

    Target: <input type="text" placeholder="Target user id" [(ngModel)]="target" /><br>

    Message: <input type="text" placeholder="Enter message" [(ngModel)]="msg" (input)="onTyping()" />

    <button (click)="sendMessage()">Send</button>
  </div>

  <div class="card chat-box">
    <h3>Messages</h3>

    @if (wsService.chat().length === 0) {
    <p class="empty">No messages yet</p>
    }

    @for (message of wsService.chat(); track message) {
    <div class="chat-message">
      {{ message }}
    </div>
    }
    @if (wsService.remoteTyping()) {
    <p class="typing-indicator">User is typing...</p>
    }
  </div>

</div>